<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>Add Book</h1>
    </div>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p><%= link_to 'Back', books_path %></p>
    </div>
  </div>
</div>
