.navbar-default {
  background-color: #4C396E;
}

.navbar-brand {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;

  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #FFF!important;
}

@media all and (max-width: 520px) { /* screen size until 1200px */
  .navbar-brand {
    font-size: 2em;
  }

  .navbar-brand img {
    height: 2em!important;
  }
}

@media all and (min-width: 1000px) {
  nav {
    margin-top: 0.5em;
  }
  
  ul.navbar-right, ul.navbar-nav {
    margin-top: 46px;
  }

  ul.navbar-nav#menu {
    margin-left: 20px;
  }
}

.navbar-brand img {
  display: inline!important;
  height: 50%;
  margin-right: 0.2em;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.navbar-nav>li>a {
  color: #FFF!important;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}
