<% if notice %>
<div class="row">
  <p class="notice alert alert-info"><%= notice %></p>
</div>
<% end %>
<% if alert %>
<div class="row">
  <p class="alert alert-danger"><%= alert %></p>
</div>
<% end %>
